{% extends 'base.html' %}

{% block head %}
    <script type="text/javascript" src="/chat/static/data.js"></script>

{% endblock %}

{% block header %}
  <h1>{% block title %}View{% endblock %}</h1>
{% endblock %}

{% block content %}
<div>
        <input type="textbox" id="sender" /><input type="textbox" id="message" /><input type="submit" id="send_media_form" />
        <ul id="message-list">
      {% for row in data %}
            <li>
              <span>{{ row['sender'] }}</span>
              <span>{{ row['message'] }}</span>
            </li>
      {% endfor %}
        </ul>
</div>
{% endblock %}

{% block end %}
<script>


class WebSocketCustom extends WebSocketHandler
{
websocket_message(data)
{
    try {
        if( data.event && data.event == "broadcast")
        {

            var li = document.createElement("li")

            var elm_name = document.createElement("span")
            elm_name.innerText=data.data.sender
            li.appendChild(elm_name)
            var elm_message = document.createElement("span")
            elm_message.innerText=data.data.message
            li.appendChild(elm_message)

            document.getElementById("message-list").appendChild(li)
        }
    } catch (error) {
        alert("thing go bad");
    }
}

}


const socket = new WebSocketCustom("ws://localhost:5000/chat/ws");


//document.getElementById('send_media_form').onclick = function() { sendWebSocket(); };
function sendWebSocket()
{
    socket.sendEvent("broadcast", {
        "sender": document.getElementById('sender').value,
        "message": document.getElementById('message').value
      });

    document.getElementById('message').value = "";
}

document.getElementById('send_media_form').onclick = function() { sendMediaForm(); };
function sendMediaForm()
{
        sender = new JSONHandler("./send")

        data = {
          "sender": document.getElementById('sender').value,
          "message": document.getElementById('message').value
        }

        sender.post(data).then(function(response){

          if (!response.ok) {
              throw new Error(`Response bad`);
          }else{
              document.getElementById('message').value = "";
          }
        });

}


</script>
{% endblock %}
